<div class="home-container">

  <!-- NAVBAR -->
  <nav class="navbar">
  <div class="nav-logo">
    <img src="https://motorbikezone.s3.us-east-1.amazonaws.com/motocicleta-desnuda.png" alt="AWS Logo" class="logo-img" />
    MotobikeZone
  </div>
  <ul class="nav-links">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Modelos</a></li>
    <li><a href="#">Noticias</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</nav>

  <!-- MAIN SECTIONS -->
  <section class="welcome-section">
    <div class="welcome-content">
      <h1>Bienvenidos a MotobikeZone</h1>
      <p>Explora lo último en motocicletas</p>
    </div>
  </section>

  <section class="intro-section">
    <div class="intro-content">
      <p>
        Descubre lo último en gama de motocicletas, donde la velocidad y la adrenalina se unen.
      </p>
    </div>

    <app-bikeproducts></app-bikeproducts>
  </section>

  <!-- FOOTER -->
  <footer class="footer">
    <p>© 2025 MotobikeZone. </p>
  </footer>

</div>
